<div>
    <center><h1 style="color: #FFF75A;">FORMULARIO DE CONTACTO</h1></center>
</div>

<form method="post">
    <div>
        <label for="">NOMBRE: </label>
        <input type="text" name="nombre" id="" class="form-control">
    </div>
    <div>
        <label for="">APELLIDO: </label>
        <input type="text" name="apellido" id="" class="form-control">
    </div>
    <div>
        <label for="">MOTIVO DE CONTACTO: </label>
        <input type="text" name="motivo" id="" class="form-control">
    </div>
    <div>
        <label for="">MENSAJE: </label>
        <textarea type="text" name="mensaje" cols="30" rows="10" id="" class="form-control"></textarea>
    </div>
    <br>
    <center><button class="btn btn-primary">ENVIAR</button></center>
</form>